name: Autograding Tests
'on':
  push:
  workflow_dispatch:
  repository_dispatch:
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    strategy:
      fail-fast: false
      matrix:
        function-number:
          [
            01,
            02,
            03,
            04,
            05,
            06,
            07,
            08,
            09,
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17,
            18,
            19,
            20,
            21,
            22,
            23,
            24,
            25
          ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install Dependencies
        run: npm install

      - name: Run Test ${{ matrix.function-number }}
        id: functions-${{ matrix.function-number }}
        uses: classroom-resources/autograding-command-grader@v1
        with:
          test-name: Functions ${{ matrix.function-number }}
          command: npm run test:functions:${{ matrix.function-number }}
          timeout: 1
          max-score: 1

      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          results: ${{ toJson(steps) }}
